@import './shared/fonts';
@import './shared/colors';

// Components
@import './components/header';

// Pages
@import './index';
@import './portfolios';
@import './blogs';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.clickable {
  cursor: pointer;
}

.self-type {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

// .error {
//   font-weight: 700;
//   color: red;
// }

.base-page {
  padding: 150px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  // .page-header {
  //   .page-header-title {
  //     // font-weight: 700;
  //     color: black;
  //     display: inline-block;
  //     margin-bottom: 20px;
  //   }
  // }

  .page-header-title {
    // font-weight: 700;
    // color: black;
    display: inline-block;
    margin-bottom: 20px;
  }
}
