@import "./shared/fonts";
@import "./shared/colors";
@import "./index";
@import "./header";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

.clickable {
  cursor: pointer;
}

.self-type {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.base-page {
  padding-top: 150px;
  color: white;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
